li {
    list-style: none;
    margin-bottom: 15px;
}

button {
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    margin-top: 20px;
}

.link {
    display: inline-block;
    padding: 15px;
    border: 1px solid orange;
    background-color: rgb(212, 255, 251);
    text-decoration: none;
    border-radius: 15px;
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 15px
}


.btn {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.btn-add {
    background-color: green;
}

.btn-remove {
    background-color: orange;
}

.btn-clear {
    background-color: red;
}

.element {
    width: 80px;

    text-align: center;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

}

.btn-list {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.input {
    width: 200px;
    height: 65px;
    border-radius: 3px;
    border-color: orange;
    padding-left: 25px;
    text-align: center;
    font-size: 18px;
}

.input::placeholder {
    font-size: 12px;
}